body {background: #F7D62B;}
.square {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 160px;
    top: 51px;
    background: black;
}
.logo {
    color: white; 
    position: absolute;
    width: 31px;
    height: 28px;
    left: 164px;
    top: 55px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    z-index: 1;
}
.logotext {
    position: absolute;
    width: 70px;
    height: 39px;
    left: 223px;
    top: 55px;
    font-family: "Monda";
    font-style: normal;
    font-size: 24px;
    font-weight: 900;
    line-height: 39px;
    color: black;
    text-decoration: none
}
.cart-logo {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 1329px;
    top: 49px;
} 
.navbar a {
    font-family: 'Monda';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: black;
    text-decoration: none
}
.navbar a:hover {
    color: white;
}
.navbar a:active {
    text-decoration: underline;
}


