/* Main css for whole doc */
body {
  background: #f7d62b;
  width: 94vw;
  margin: 0 3vw;
}

/* CONTENT, mid of pages */
.content-container {
  margin: 0 3%;
}
/* name of page for each page except index*/
.content-title {
  color: white;
  text-transform: uppercase;
  position: relative;
  font-size: 40px;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-align: left;
  font-family: "Montserrat";
}
/* centered text on index page */
h1 {
  font-family: "Montserrat";
  text-transform: uppercase;
  color: white;
  text-align: center;
  text-shadow: 2px 2px red;
  font-size: 80px;
  padding-bottom: 7%;
}

/* index page benefits block in flexbox */

h2 {
  max-width: 80%;
  font-size: 24px;
  color: black;
  text-align: center;
  font-family: "Montserrat";
}
p {
  max-width: 80%;
  color: black;
  font-size: 20px;
  font-family: "Montserrat";
  text-align: left;
  text-shadow: 4px 4px 4px red;
}
.products-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10%;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-around;
  margin-top: 5%;
}
.product-item {
  width: 25%;
  background-color: black;
  box-shadow: 4px 4px rgb(248, 246, 246);
  text-align: center;
  font-family: "Montserrat";
  margin-bottom: 4%;
}
.product-item-h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  padding-top: 5%;
  margin-bottom: 5%;
}
.product-item img {
  width: 75%;
}
.product-item-p {
  color: white;
  text-align: justify;
  width: 75%;
  padding: 3% 13%;
}
.weight {
  display: inline-block;
  color: white;
  margin-left: 5%;
  padding-top: 5%;
  width: 35%;
  text-align: left;
}
.cost {
  display: inline-block;
  color: white;
  margin-right: 5%;
  padding-top: 5%;
  width: 35%;
  text-align: right;
}
.to-cart-button {
  width: 50%;
  text-decoration: none;
  display: inline-block;
  background: #e48900;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Montserrat";
  line-height: 41px;
  margin-top: 5%;
  margin-bottom: 10%;
  cursor: pointer;
}

/* Contacts */
.adress {
  margin-top: 5%;
  text-align: justify;
}

/* Testimonials */
.testimonials-list {
  margin-top: 5%;
  font-family: "Montserrat";
}
.testimonials-avatar {
  width: 10%;
  border-radius: 50%;
  border: 2px solid black;
  align-items: baseline;
}
.testimonial-text {
  align-items: baseline;
  margin-left: 20px;
}
.testimonial {
  margin: 2% 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
